.draggable {
  height: 50px;
  width: 50px;
  /* border: 1px solid black; */
  /* background-color: yellow; */
  margin: 20px;
  /* border-radius: 20px; */
  position: relative;
  color: orangered;
}
input {
  width: 80px;
  position: absolute;
  bottom: -27px;
  right: -19px;
  border: 1px solid black;
}
.main {
  display: flex;
  flex-wrap: no-wrap;
  height: 100vh;
  background-image: url('../assets/centennial-park-map.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
}
